MegajanWebService/WebContent/wsdl/MegajanRESTfulService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service" xmlns:intf="http://service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getJson">
    <complexType/>
   </element>
   <element name="getJsonResponse">
    <complexType>
     <sequence>
      <element name="getJsonReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="putJson">
    <complexType>
     <sequence>
      <element name="content" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="putJsonResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="putJsonRequest">

      <wsdl:part element="impl:putJson" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getJsonResponse">

      <wsdl:part element="impl:getJsonResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="putJsonResponse">

      <wsdl:part element="impl:putJsonResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getJsonRequest">

      <wsdl:part element="impl:getJson" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MegajanRESTfulService">

      <wsdl:operation name="getJson">

         <wsdl:input message="impl:getJsonRequest" name="getJsonRequest">

       </wsdl:input>

         <wsdl:output message="impl:getJsonResponse" name="getJsonResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="putJson">

         <wsdl:input message="impl:putJsonRequest" name="putJsonRequest">

       </wsdl:input>

         <wsdl:output message="impl:putJsonResponse" name="putJsonResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MegajanRESTfulServiceSoapBinding" type="impl:MegajanRESTfulService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getJson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getJsonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getJsonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="putJson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="putJsonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="putJsonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MegajanRESTfulServiceService">

      <wsdl:port binding="impl:MegajanRESTfulServiceSoapBinding" name="MegajanRESTfulService">

         <wsdlsoap:address location="http://localhost:8080/MegajanWebService/services/MegajanRESTfulService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
